* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

fieldset {
    margin-bottom: 8px;
}

input {
    margin-bottom: 5px;
}

textarea {
    padding: 12px 5px 5px 5px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow-y: scroll;
    border: 1px solid rgb(158, 158, 158);
    margin-bottom: 10px;
    height: 250px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}